<%- include('header.ejs') %>

<h1><% if(isLoggedIn==false){%><%-include('login.ejs')%><%}%></h1>
<div class = errormessage>
  <%- include('./partials/messages') %>
</div>
<div class = dashboard-main>
    
      
    <div style = "width: 100%" class= dashboard-left>
        <h1 style='padding: 10px 0 0 10px'>Sacred-World Friends</h1>
    <ul class="nav nav-pills" style="background-color: rgba(255, 255, 255, 0.246); padding: 10px;">
        <li class="nav-item">
          <a class="nav-link" href="/">News</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link active" href="#">Friends</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/settings">Settings</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="/characters">Characters</a>
        </li>        
      </ul>
      <div style= "display: inline-block; width: 75%" class="card text-center">
        <div  class="card-header">
          Friends
        </div>
        <% if(!isLoggedIn){ %>
          <h1>Please login to see friends</h1>  </div>
        <%  } %>
             
        <% if(isLoggedIn){ %>          
        
        <% if(friends.length){%>               
          <h1>Pending Friends</h1>
         <% for(const friend of friends){ %>
          <%if(friend.status == "Pending"){ %>            
            <%-include("./partials/friends-pending.ejs", friend)%>
            <% } %>
         <% } %>
         <h1>Friends</h1>
        <% for(const friend of friends){ %>
          <%if(friend.status == "Friends"){ %>            
            <%-include("./partials/friends-confirmed.ejs", friend)%>
            <% } %>
         <% } %>
         
          <% }else{ %>
            <h1>You have no friends</h1>
            
          <% } %>

          </div>
          <div style="width: 200px; float: right" class= "search-friend">
            <label>Search For Friends</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">@</span>
            </div>
           
            <input  id="#submit" name="name" type="text" class="form-control" placeholder="name" aria-label="Username" aria-describedby="basic-addon1">
            
          </div>
          </div>
          
          <div style = "display: inline-block; position: relative; left: 800px; top: -40px" class="dropdown-menu">
            <%-include("./partials/friend-serach.ejs") %>
          </div>
          <%  } %>        
    </div>    
    </div>

    <script>  
    // Using Ajax to send a form without refreshing page
    $('#submit').on('submit', function(e){
      alert('data sent!');
        e.preventDefault(); 
        $.ajax({
            url: '/',
            method: 'POST',
            contentType: 'application/json',
            success: function(html) {
            alert('data sent!');
            }
        });
        //return false; 
    });
    </script>
 
    
</div>  
